<%= text_field_tag "person[addresses][city_village]",  params[:city_village], {:field_type => 'alpha', :helpText => 'Location', :ajaxURL => '/person_addresses/village?search_string=', :allowFreeText => true }%>
