# observations.rhtml

<script type="text/javascript" language="javascript">
  <!--
  tt_cancel_show = "/patients/current_visit/?patient_id=<%= @patient.patient_id %>";
  tt_cancel_destination = "/patients/current_visit/?patient_id=<%= @patient.patient_id %>";
  var timedEvent;

  function calculateBP(pos){
    var bp;

    if(!$('bp')){
      var div = document.createElement("div");
      div.id = "bp";
      div.className = "statusLabel";

      $("inputFrame" + tstCurrentPage).appendChild(div);
    }

    if(pos == 1){
      bp = ($("touchscreenInput" + tstCurrentPage).value.trim().length > 0 ? $("touchscreenInput" +
        tstCurrentPage).value.trim() : "?") +
        "/" + ($("diastolic_blood_pressure").value.trim().length > 0 ? $("diastolic_blood_pressure").value.trim() : "?");
    } else if(pos == 2){
      bp = ($("systolic_blood_pressure").value.trim().length > 0 ? $("systolic_blood_pressure").value.trim() : "?") +
        "/" + ($("touchscreenInput" + tstCurrentPage).value.trim().length > 0 ? $("touchscreenInput" +
        tstCurrentPage).value.trim() : "?");
    }

    $("bp").innerHTML = "Blood Pressure: <i style='font-size: 1.2em; float: right;'>" + bp + "</i>";

    timedEvent = setTimeout('calculateBP(' + pos + ')', 500);
  }

  //-->
</script>

<style type="text/css">
  .showPlus #plus {
    display: block;
    float: right;
  }

</style>

<% form_tag :controller => "encounters", :action => "create" do |f| %>
  <%= hidden_field_tag "encounter[encounter_type_name]", "OBSERVATIONS" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>
  <%session_date = session[:datetime] || Time.now() %>

  <%= touch_select_tag "URINE PROTEIN", @patient, 
    options_for_select([["", ""], ["Negative", "Negative"], ["1+", "1+"], ["2+", "2+"], 
      ["3+", "3+"], ["4+", "4+"], ["Unknown", "Unknown"]]),
    {:id => "enter_urine_protein",
    :helptext => "Urine Protein" } %>

  <%= touch_select_tag "HB Test Request", @patient, options_for_select([["", ""], ["Yes", "Yes"], ["No", "No"]]),
    {:id => "hb_test_request",
    :helptext => "Is patient going for HB Test?" } %>

  <%= touch_select_tag "Syphilis Test Request", @patient, options_for_select([["", ""], ["Yes", "Yes"], ["No", "No"]]),
    {:id => "syphilis_test_request",
    :helptext => "Is patient going for Syphilis Test?" } %>

  <%= touch_numeric_tag "FUNDUS", @patient, nil,
    {:id => "enter_fundal_height",
    :helptext => "Fundus (weeks)",
    :tt_pageStyleClass => "NumbersWithUnknownAndDecimal" } %>

  <%= touch_select_tag "FETAL HEART BEAT", @patient, options_for_select([["", ""], ["Yes", "Yes"], ["No", "No"]]),
    {:id => "enter_fetal_heart",
    :helptext => "Fetal Heart Beat" } %>

  <% @presentation = ["", "Compound", "Cephalic", "Breech", "Face", "Footling", "Cord", "Brow"] %>

  <%= touch_select_tag "PRESENTATION", @patient, options_for_select(@presentation),
    {:id => "presentation",
    :helptext => "Enter Presentation",
    :tt_pageStyleClass => "NoKeyboard" } %>

  <% @position = ["", "Vertex",
    "Breech",
    "Face",
    "Shoulder"] %>

  <%= touch_select_tag "POSITION", @patient, options_for_select(@position),
    {:id => "position",
    :helptext => "Enter Position",
    :tt_pageStyleClass => "NoKeyboard" } %>


  <%#--------------------------------------------------------%>

  <% @vertex = ["", "Left Occipito Anterior",
    "Left Occipito Transverse",
    "Left Occipito Posterior",
    "Right Occipito Anterior",
    "Right Occipito Transverse",
    "Right Occipito Posterior"] %>

  <%= touch_select_tag "VERTEX", @patient, options_for_select(@vertex),
    {:id => "vertex",
    :helptext => "Vertex Position Type",
    :field_type => "text",
    :condition => "$('position').value.trim().toUpperCase() == 'VERTEX';",
    :tt_pageStyleClass => "NoKeyboard" } %>


  <% @breech = ["", "Left Sacro Anterior",
    "Left Sacro Transverse",
    "Left Sacro Posterior",
    "Right Sacro Anterior",
    "Right Sacro Transverse",
    "Right Sacro Posterior"] %>

  <%= touch_select_tag "BREECH", @patient, options_for_select(@breech),
    {:id => "breech",
    :helptext => "Breech Position Type",
    :field_type => "text",
    :condition => "$('position').value.trim().toUpperCase() == 'BREECH';",
    :tt_pageStyleClass => "NoKeyboard" } %>


  <% @face = ["", "Left Mento Anterior",
    "Left Mento Transverse",
    "Left Mento Posterior",
    "Right Mento Anterior",
    "Right Mento Transverse",
    "Right Mento Posterior"] %>

  <%= touch_select_tag "FACE", @patient, options_for_select(@face),
    {:id => "face",
    :helptext => "Face Position Type",
    :field_type => "text",
    :condition => "$('position').value.trim().toUpperCase() == 'FACE';",
    :tt_pageStyleClass => "NoKeyboard" } %>


  <% @shoulder = ["", "Left Acromion Dorsal Anterior",
    "Left Acromion Dorsal Posterior",
    "Right Acromion Dorsal Anterior",
    "Right Acromion Dorsal Posterior"] %>

  <%= touch_select_tag "SHOULDER", @patient, options_for_select(@face),
    {:id => "shoulder",
    :helptext => "Shoulder Position Type",
    :field_type => "text",
    :condition => "$('position').value.trim().toUpperCase() == 'SHOULDER';",
    :tt_pageStyleClass => "NoKeyboard" } %>

  <%#--------------------------------------------------------%>



  <%#= touch_select_tag "SYPHILIS RESULT", @patient, options_for_select([["", ""], ["Not Done", "Not Done"], ["Positive", "Positive"], ["Negative", "Negative"]]),
    {:id => "syphilis_result",
    :helptext => "Syphilis Result" } %>

  <%#= touch_date_tag "DATE RESULT GIVEN", @patient, nil,
    {:id => "enter_date_result_given",
    :helptext => "Enter Date Result Given" } %>

  <%= submit_tag 'Finish' %>
<% end %>
