<div id="home">
  <h1 id="project_name">
    <div style="margin-top: 10px;">
      amu<span style="font-size: 0.75em;">5</span>
    </div>
  </h1>
  <select id="tabs">
    <option value="/clinic/overview">
      Overview
    </option>
    <option value="/clinic/reports">
      Reports
    </option>

    <% if @user.admin? %>
      <option value="/clinic/administration">
        Administration
      </option>
    <% end %>
      
  </select>

  <div id="facility"><%= @facility rescue "" %></div>
  <div id="location"><%= @location rescue "" %></div>

  <div id="date"><%= @date rescue "" %></div>
  <div id="user"><%= @user.name rescue "" %></div>

  <select id="links">
    <option value='/logout' link='/logout'>Logout</option>
    <option value='/people/search' link='/people/search' ttSize="290px">Find / Register Patient</option>
  </select>

</div>
<script type="text/javascript" language="javascript">
  <!--
  tt_cancel_show = "/people/search";
  tt_cancel_destination = "/logout";
  tt_register_destination = "/people/search";
  //-->
</script>