<div id="home">
  <h1 id="project_name">
    amu<span style="font-size: 0.75em;">5</span>
  </h1>
  <select id="tabs">
    <option value="/clinic/overview">
      Overview
    </option>
    <option value="/clinic/reports">
      Reports
    </option>
    <option value="/clinic/administration">
      Administration
    </option>
    <!--option value="/clinic/administration">
      Administration2
    </option>
    <option value="/clinic/administration">
      Administration3
    </option>
    <option value="/clinic/administration">
      Administration4
    </option>
    <option value="/clinic/administration">
      Administration5
    </option>
    <option value="/clinic/administration">
      Administration6
    </option>
    <option value="/clinic/administration">
      Administration7
    </option>
    <option value="/clinic/administration">
      Administration8
    </option>
    <option value="/clinic/administration">
      Administration9
    </option>
    <option value="/clinic/administration">
      Administration10
    </option-->
  </select>

  <span id="facility">Bwaila District Hospital</span>
  <span id="user">F. Magombo</span>
  <span id="location">Maternity Wing</span>
  <span id="date"><span style="color: #f00;">2010/12/15</span></span>
</div>
<script type="text/javascript" language="javascript">
  <!--
  tt_cancel_show = "/people/search";
  tt_cancel_destination = "/logout";
  tt_register_destination = "/people/search";
  //-->
</script>