<div id="home">
  <h1 id="project_name">
    amu<span style="font-size: 0.75em;">5</span>
  </h1>
  <select id="tabs">
    <option value="/clinic/overview">
      Overview
    </option>
    <option value="/clinic/reports">
      Reports
    </option>
    <option value="/clinic/administration">
      Administration
    </option>
  </select>
</div>
<script type="text/javascript" language="javascript">
  <!--
  tt_cancel_show = "/people/search";
  tt_cancel_destination = "/logout";
  tt_register_destination = "/people/search";
  //-->
</script>